<head>
  <title>flow-router</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> applicationLayout}}
</body>

<template name="applicationLayout">
  {{> Template.dynamic template=main}}
</template>
