<template name="displayTweet">
		<style>
		/* global styles */

		@font-face {
		font-family: 'AlarmClock';
		src: url('/assets/alarm-clock.ttf') format('truetype');
		}

		* {
		transition: all 500ms ease;
		box-sizing: border-box;
		}

		html {
			margin: 0;
			padding: 0;
			min-height: 100%;
			height: 100%;
			font-family: Arial;
		}

		body {
			background: #fff;
			background-color: #fff;
			color: #000;
			height: 100%;
			margin: 0;
			/*padding: 10px 25px;*/
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			flex-direction: column;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
		}

		/* dynamic screen container */

		#__blaze-root {
			width: 100%;
		}

		/* tweet header */

		.tweet-header {
			width: 100%;
			text-align: left;
			position: absolute;
			padding: 75px 75px 25px 75px;
			top: 0px;
			/*left: 50%;*/
			/*transform: translate(-50%, 0);*/
			background: #fff;
			color: #000;
			font-weight: bold;
		}

		.tweet-icon {
	    height: 166px;
	    margin-right: 25px;
	    float: left;
		}

		.tweet-icon img {
			height: 100%;
		}

		.verified {
			height: 40px;
			vertical-align: middle;
		}

		.tweet-name {
			font-size: 4.5em;
		}

		.tweet-username {
			font-size: 0.8em;
			color: #999;
			font-weight: normal;
		}

		.twitter-logo {
	    position: absolute;
	    top: 75px;
	    right: 75px;
			height: 75px;
		}

		.twitter-logo img {
			height: 100%;
		}
		/* tweet body */

		.tweet {
			width: 100%;
			font-size: 6em;
			padding: 0px 75px;
		}

		/* tweet footer */

		.tweet-footer {
	    position: absolute;
	    bottom: 30px;
		}

		.tweet-icons {
			position: absolute;
			bottom: 75px;
			left: 75px;
		}

		.tweet-icons img {
			height: 50px;
		}

		.tweet-time {
			position: absolute;
	    bottom: 75px;
	    right: 75px;
			font-size: 2em;
			color: #999;
		}
		</style>

	<div class="tweet-header">
		<div class="tweet-name">
			<span class="tweet-icon">
				<img src="/assets/tweet-select.png">
			</span>
			The Commander-in-Tweet <img src="/assets/twitter-verified.png" class="verified">
			<br>
			<span class="tweet-username">@thecommander_in_tweet</span>
		</div>
		<span class="twitter-logo">
			<img src="/assets/twitter-logo.png">
		</span>
	</div>

	<div class="tweet">
		<div class="tweet-body">
			{{lastTweet.composedTweet}}
		</div>
	</div>

	<span class="tweet-icons">
		<img src="/assets/icons.png">
	</span>

	<span class="tweet-time">
		{{formatDate lastTweet.createdAt}}
	</span>

</template>
